@using System.Web.UI.WebControls
@model dynamic

@{
    ViewBag.Title = "By JavaScript (pure)";
}

@section javascript
{
    <script src="~/Scripts/ViewScripts/byJavaScript.js"></script>
}

<h2>@ViewBag.Title</h2>

<h5>Reference: <a href="http://stackoverflow.com/questions/1009808/enter-key-press-behaves-like-a-tab-in-javascript" target="_blank">http://stackoverflow.com/questions/1009808/enter-key-press-behaves-like-a-tab-in-javascript</a> </h5>

@Html.Partial("_Form")
