@model dynamic

@{
    ViewBag.Title = "By JQuery";
}

@section javascript
{
    <script src="~/Scripts/ViewScripts/byJQuery.js"></script>
}
<h2>@ViewBag.Title</h2>

<h5>Reference: <a href="http://stackoverflow.com/questions/1009808/enter-key-press-behaves-like-a-tab-in-javascript" target="_blank">http://stackoverflow.com/questions/1009808/enter-key-press-behaves-like-a-tab-in-javascript</a> </h5>

@Html.Partial("_Form")